@import "fonts.scss";

.wrapper {
    position: relative;
    width: 1438px;
    height: 10150px;
    margin: 0 auto;
    background: #FFFFFF;
}

header {
    height: 83px;
    background: #131313;


    & .name {
        color: yellow;
        position: absolute;
        left: 5.7%;
        right: 81.8%;
        top: 0.36%;
        bottom: 99.54%;
        font-family: FuturaDemiC;
        font-size: 14px;
        line-height: 16px;
        text-transform: uppercase;
        color: #E3B873;
    }

    & .header-nav {
        position: absolute;
        height: 10px;
        left: 10.84%;
        right: 34.73%;
        top: 0.36%;
        bottom: 99.54%;
        align-items: center;

        &--ul {
            position: absolute;
            left: 24.84%;
            right: 34.73%;
            top: 0.36%;
            bottom: 99.54%;
            width: 581.43px;
            height: 10px;
            display: flex;
            font-family: FuturaBookC;
            font-size: 14px;
            line-height: 16px;
            text-transform: uppercase;
            color: #FFFFFF;

            //justify-content: space-between;
            & li:not(:first-child) {
                margin-left: 47px;
            }

            & a {
                text-decoration: none;
                color: #FFFFFF;
            }
        }
    }

    & .header-phone {
        position: absolute;
        left: 69.96%;
        right: 21.28%;
        top: 0.36%;
        bottom: 99.48%;
        width: 126px;
        height: 16px;
        //font-family: FuturaDemiC;
        font-family: FuturaDemiC;
        font-size: 14px;
        line-height: 16px;
        text-align: right;
        text-decoration-line: underline;

        color: #E3B873;

    }

    & .header-RequestCall {
        position: absolute;
        right: 6.95%;
        top: 0.24%;
        bottom: 99.4%;
        width: 161px;
        height: 37px;
        background: #E3B873;
        box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.2);
        border-radius: 2px;

        & span {
            position: absolute;
            left: 24.14%;
            top: 28.36%;
            bottom: 99.53%;
            width: fit-content;
            font-family: FuturaDemiC;
            font-family: FuturaDemiC;
            font-size: 13px;
            line-height: 15px;
            text-align: center;
            text-transform: uppercase;
            color: #FFFFFF;
        }
    }
}

.intro {
    position: relative;
    height: 707px;

    &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: rgba(0, 0, 0, 0.7);
        z-index: 1;
    }

    &--content {
        width: 1358px;
        height: 707px;
        position: absolute;
        right: 0%;
        top: 0px;
        background-image: url(/assets/images/intro-backgound.png);

        & h2 {
            position: absolute;
            left: 3.87%;
            top: 25.73%;
            font-family: Yeseva One;
            font-style: normal;
            font-weight: normal;
            font-size: 40px;
            line-height: 53px;
            text-transform: uppercase;
            color: #FFFFFF;
            z-index: 2;

            & span {
                color: #E3B873;

            }
        }

        & p {
            position: absolute;
            left: 3.87%;
            top: 40%;
            font-family: FuturaBookC;
            font-size: 22px;
            line-height: 30px;
            color: #FFFFFF;
            z-index: 2;
        }
    }

    & aside {
        position: absolute;
        width: 82px;
        height: 707px;
        background: #131313;
        z-index: 2;

        & .intro--instagram {
            position: absolute;
            left: 9.27%;

            top: 50.05%;


            font-family: FuturaDemiC;
            font-size: 14px;
            line-height: 16px;
            text-align: center;
            text-transform: uppercase;
            transform: rotate(90deg);
            color: #E3B873;
            z-index: 2;
        }

    }

    &--scroll-down {
        width: 247px;
        height: 97px;
        position: absolute;
        left: 0%;

        bottom: 1.74%;

        background: #131313;
    }

    & button span {
        font-family: FuturaDemiC;
        font-size: 13px;
        line-height: 15px;
        text-align: center;
        text-transform: uppercase;
        color: #FFFFFF;
    }

    &--button {


        &-painted_over {
            position: absolute;
            left: 4.3%;
            top: 57%;
            width: 207px;
            height: 51px;
            background: #E3B873;
            box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.3);
            border-radius: 2px;

            z-index: 2;
        }

        &-unpainted {
            position: absolute;
            left: 21%;
            top: 57%;
            width: 207px;
            height: 51px;
            border: 1px solid #FFFFFF;
            box-sizing: border-box;
            border-radius: 2px;
            background: none;
            z-index: 2;
        }
    }
&--scroll-down{
    position: absolute;
left: 0%;
bottom: -3%;
width: 247px;
height: 97px;
background: #131313;
color:white;
z-index: 2;


& span{
    position: absolute;
    left: 20%;
        top: 42%;
    bottom: 92.13%;
    
    font-family: Yeseva One;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 19px;
    text-transform: uppercase;
        color: #FFFFFF;
       
}
& img{
    position: absolute;

right: 22.23%;
top: 34.64%;


}
}
}

.completed-projects {
    width: 1431px;
    height: 1024px;
    background: #6b2929;
margin-top:20px;
    &--cities-nav {
        width: 623px;
        height: 24px;
    }

    &--description {
        width: 442px;
        height: 390px;
    }

    &--slider--center {
        width: 844px;
        height: 482px;
    }

    &--slider--right {
        width: 144px;
        height: 482px;
    }

    &--online-control {
        widows: 196px;
        height: 66, 79px;
    }
}

.online-control {
    width: 1438px;
    height: 1432px;

    &--description {
        width: 681px;
        height: 130.91px;
    }

    &--form {
        width: 769px;
        height: 51px;
    }
}

.types-of-repair {
    width: 1438px;
    height: 958px;

    &--logo {
        width: 257px;
        height: 67px;
    }

    &--container {
        width: 1236px;
        height: 608px;

        & content {
            width: 392px;
            height: 421px;
        }
    }
}

.place-order {
    width: 1436px;
    height: 968px;

    &--steps-of-order {
        width: 773px;
        height: 691.26px;
    }

    &--form-container {
        width: 506px;
        height: 640px;
    }
}

/*div {
    background-color: aqua;
    border: 1px solid red;
}

section {
    background-color: green;
    border: 1px solid yellow;
}*/