@font-face {
  font-family: FuturaBookC;
  src: url(/assets/fonts/futurabookc.otf);
}

@font-face {
  font-family: FuturaDemiC;
  src: url(/assets/fonts/futurademic.otf);
}

@font-face {
  font-family: FuturaMediumC;
  src: url(/assets/fonts/futuramediumc.otf);
}

@font-face {
  font-family: Yeseva One;
  src: url(/assets/fonts/YesevaOne-Regular.ttf);
}

.wrapper {
  position: relative;
  width: 100%;
  max-width: 1438px;
  height: 10150px;
  margin: 0 auto;
  background: #FFFFFF;
}

header {
  position: relative;
  width: 100%;
  height: 0.81%;
  background: #131313;
}

header .name {
  color: yellow;
  position: absolute;
  left: 5.7%;
  right: 81.8%;
  top: 44.57%;
  height: 12.2%;
  font-family: FuturaDemiC;
  font-size: 0.875em;
  line-height: 16px;
  text-transform: uppercase;
  color: #E3B873;
}

header .header-nav {
  position: absolute;
  height: 12.2%;
  left: 10.84%;
  right: 34.73%;
  top: 44.57%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .header-nav--ul {
  position: absolute;
  left: 24.84%;
  right: 34.73%;
  top: 44.57%;
  width: 40.43%;
  height: 0.09%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: FuturaBookC;
  font-size: 0.85em;
  line-height: 16px;
  text-transform: uppercase;
  color: #FFFFFF;
}

header .header-nav--ul li:not(:first-child) {
  margin-left: 8.08%;
}

header .header-nav--ul a {
  text-decoration: none;
  color: #FFFFFF;
}

header .header-phone {
  position: absolute;
  right: 21.28%;
  top: 44.57%;
  width: 8.76%;
  height: 19.2%;
  font-family: FuturaDemiC;
  font-size: 0.875em;
  line-height: 16px;
  text-align: right;
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
  color: #E3B873;
}

header .header-RequestCall {
  position: absolute;
  right: 6.95%;
  top: 28.9%;
  width: 11.2%;
  height: 45.1%;
  background: #E3B873;
  -webkit-box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.2);
          box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.2);
  border-radius: 5.4%;
}

header .header-RequestCall span {
  position: absolute;
  left: 24.14%;
  top: 35.13%;
  width: 59.38%;
  height: 30%;
  font-family: FuturaDemiC;
  font-size: 0.8125em;
  line-height: 15px;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
}

main {
  width: 100%;
  max-width: 1438px;
  height: 99.19%;
}

.intro {
  position: relative;
  width: 100%;
  height: 7.02%;
}

.intro::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.7);
  z-index: 1;
}

.intro--content {
  width: 94.4%;
  height: 100%;
  position: absolute;
  right: 0%;
  top: 0px;
  background-image: url(/assets/images/intro-backgound.png);
  background-size: cover;
}

.intro--content h2 {
  position: absolute;
  left: 3.87%;
  top: 25.73%;
  font-family: Yeseva One;
  font-style: normal;
  font-weight: normal;
  font-size: 2.5em;
  line-height: 53px;
  text-transform: uppercase;
  color: #FFFFFF;
  z-index: 2;
}

.intro--content h2 span {
  color: #E3B873;
}

.intro--content p {
  position: absolute;
  left: 3.87%;
  top: 40%;
  font-family: FuturaBookC;
  font-size: 1.375em;
  line-height: 30px;
  color: #FFFFFF;
  z-index: 2;
}

.intro aside {
  width: 5.6%;
  height: 100%;
  background: #131313;
  z-index: 2;
}

.intro aside .intro--instagram {
  position: absolute;
  top: 50.05%;
  font-family: FuturaDemiC;
  font-size: 0.875em;
  line-height: 16px;
  text-align: center;
  text-transform: uppercase;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  color: #E3B873;
  z-index: 2;
}

.intro button span {
  font-family: FuturaDemiC;
  font-size: 0.81em;
  line-height: 15px;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
}

.intro--button-painted_over {
  position: absolute;
  left: 4.3%;
  top: 57%;
  width: 15.24%;
  height: 7.21%;
  background: #E3B873;
  -webkit-box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.3);
          box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.3);
  border-radius: 2px;
  z-index: 2;
}

.intro--button-unpainted {
  position: absolute;
  left: 21%;
  top: 57%;
  width: 15.24%;
  height: 7.21%;
  border: 1px solid #FFFFFF;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 2px;
  background: none;
  z-index: 2;
}

.intro--scroll-down {
  position: absolute;
  left: 0%;
  bottom: -3%;
  width: 17.17%;
  height: 97px;
  background: #131313;
  color: white;
  z-index: 2;
}

.intro--scroll-down span {
  position: absolute;
  left: 20%;
  top: 42%;
  bottom: 92.13%;
  font-family: Yeseva One;
  font-style: normal;
  font-weight: normal;
  font-size: 0.875em;
  line-height: 19px;
  text-transform: uppercase;
  color: #FFFFFF;
}

.intro--scroll-down img {
  position: absolute;
  right: 22.23%;
  top: 34.64%;
}

.completed_projects {
  width: 100%;
  height: 1024px;
  background: pink;
  margin-top: 20px;
}

.completed_projects--cities_nav {
  position: absolute;
  left: 41.31%;
  right: 15.37%;
  top: 8.84%;
  bottom: 90.93%;
  width: 623px;
  height: 24px;
}

.completed_projects--cities_nav .flex_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.completed_projects--description {
  width: 442px;
  height: 390px;
}

.completed_projects--slider--center {
  width: 844px;
  height: 482px;
}

.completed_projects--slider--right {
  width: 144px;
  height: 482px;
}

.completed_projects--online-control {
  widows: 196px;
  height: 66, 79px;
}

.online-control {
  width: 100%;
  height: 1432px;
}

.online-control--description {
  width: 681px;
  height: 130.91px;
}

.online-control--form {
  width: 769px;
  height: 51px;
}

.types-of-repair {
  width: 100%;
  height: 958px;
}

.types-of-repair--logo {
  width: 257px;
  height: 67px;
}

.types-of-repair--container {
  width: 1236px;
  height: 608px;
}

.types-of-repair--container content {
  width: 392px;
  height: 421px;
}

.place-order {
  width: 100%;
  height: 968px;
}

.place-order--steps-of-order {
  width: 773px;
  height: 691.26px;
}

.place-order--form-container {
  width: 506px;
  height: 640px;
}

/*div {
    background-color: aqua;
    border: 1px solid red;
}

section {
    background-color: green;
    border: 1px solid yellow;
}*/
/*# sourceMappingURL=style.css.map */