@font-face {
  font-family: FuturaBookC;
  src: url(/assets/fonts/futurabookc.otf);
}

@font-face {
  font-family: FuturaDemiC;
  src: url(/assets/fonts/futurademic.otf);
}

@font-face {
  font-family: FuturaMediumC;
  src: url(/assets/fonts/futuramediumc.otf);
}

@font-face {
  font-family: Yeseva One;
  src: url(/assets/fonts/YesevaOne-Regular.ttf);
}

.wrapper {
  position: relative;
  width: 100%;
  max-width: 1438px;
  height: 10150px;
  margin: 0 auto;
  background: #FFFFFF;
}

header {
  position: relative;
  width: 100%;
  height: 0.81%;
  background: #131313;
}

header .name {
  color: yellow;
  position: absolute;
  left: 5.7%;
  right: 81.8%;
  top: 44.57%;
  height: 12.2%;
  font-family: FuturaDemiC;
  font-size: 0.875em;
  line-height: 16px;
  text-transform: uppercase;
  color: #E3B873;
}

header .header-nav {
  position: absolute;
  height: 12.2%;
  left: 10.84%;
  right: 34.73%;
  top: 44.57%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .header-nav--ul {
  position: absolute;
  left: 24.84%;
  right: 34.73%;
  top: 44.57%;
  width: 40.43%;
  height: 0.09%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: FuturaBookC;
  font-size: 0.85em;
  line-height: 16px;
  text-transform: uppercase;
  color: #FFFFFF;
}

header .header-nav--ul li:not(:first-child) {
  margin-left: 8.08%;
}

header .header-nav--ul a {
  text-decoration: none;
  color: #FFFFFF;
}

header .header-phone {
  position: absolute;
  right: 21.28%;
  top: 44.57%;
  width: 8.76%;
  height: 19.2%;
  font-family: FuturaDemiC;
  font-size: 0.875em;
  line-height: 16px;
  text-align: right;
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
  color: #E3B873;
}

header .header-RequestCall {
  position: absolute;
  right: 6.95%;
  top: 28.9%;
  width: 11.2%;
  height: 45.1%;
  background: #E3B873;
  -webkit-box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.2);
          box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.2);
  border-radius: 5.4%;
}

header .header-RequestCall span {
  position: absolute;
  left: 24.14%;
  top: 35.13%;
  width: 59.38%;
  height: 30%;
  font-family: FuturaDemiC;
  font-size: 0.8125em;
  line-height: 15px;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
}

main {
  width: 100%;
  max-width: 1438px;
  height: 99.19%;
}

.intro {
  position: relative;
  width: 100%;
  height: 7.02%;
}

.intro::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.7);
  z-index: 1;
}

.intro--content {
  width: 94.4%;
  height: 100%;
  position: absolute;
  right: 0%;
  top: 0px;
  background-image: url(/assets/images/intro-backgound.png);
  background-size: cover;
}

.intro--content h2 {
  position: absolute;
  left: 3.87%;
  top: 25.73%;
  font-family: Yeseva One;
  font-style: normal;
  font-weight: normal;
  font-size: 2.5em;
  line-height: 53px;
  text-transform: uppercase;
  color: #FFFFFF;
  z-index: 2;
}

.intro--content h2 span {
  color: #E3B873;
}

.intro--content p {
  position: absolute;
  left: 3.87%;
  top: 40%;
  font-family: FuturaBookC;
  font-size: 1.375em;
  line-height: 30px;
  color: #FFFFFF;
  z-index: 2;
}

.intro aside {
  width: 5.6%;
  height: 100%;
  background: #131313;
  z-index: 2;
}

.intro aside .intro--instagram {
  position: absolute;
  top: 50.05%;
  font-family: FuturaDemiC;
  font-size: 0.875em;
  line-height: 16px;
  text-align: center;
  text-transform: uppercase;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  color: #E3B873;
  z-index: 2;
}

.intro button span {
  font-family: FuturaDemiC;
  font-size: 0.81em;
  line-height: 15px;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
}

.intro--button-painted_over {
  position: absolute;
  left: 4.3%;
  top: 57%;
  width: 15.24%;
  height: 7.21%;
  background: #E3B873;
  -webkit-box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.3);
          box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.3);
  border-radius: 2px;
  z-index: 2;
}

.intro--button-unpainted {
  position: absolute;
  left: 21%;
  top: 57%;
  width: 15.24%;
  height: 7.21%;
  border: 1px solid #FFFFFF;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 2px;
  background: none;
  z-index: 2;
}

.intro--scroll-down {
  position: absolute;
  left: 0%;
  bottom: -3%;
  width: 17.17%;
  height: 13.73%;
  background: #131313;
  color: white;
  z-index: 2;
}

.intro--scroll-down span {
  position: absolute;
  left: 20%;
  top: 42%;
  bottom: 92.13%;
  font-family: Yeseva One;
  font-style: normal;
  font-weight: normal;
  font-size: 0.875em;
  line-height: 19px;
  text-transform: uppercase;
  color: #FFFFFF;
}

.intro--scroll-down img {
  position: absolute;
  right: 22.23%;
  top: 34.64%;
}

.portfolio {
  width: 100%;
  height: 11.08%;
  background: pink;
  margin-top: 20px;
  background: #131313;
}

.portfolio--cities_nav {
  position: absolute;
  left: 41.31%;
  right: 15.37%;
  top: 8.84%;
  bottom: 90.93%;
  width: 43.32%;
  height: 0.24%;
  font-family: Yeseva One;
  font-style: normal;
  font-weight: normal;
  font-size: 0.875em;
  line-height: 19px;
  text-transform: uppercase;
}

.portfolio--cities_nav .flex_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.portfolio--cities_nav .flex_container--elem:hover {
  color: #E3B873;
  -webkit-text-decoration: underline yellow;
          text-decoration: underline yellow;
}

.portfolio .completed_projects {
  position: absolute;
  left: 7.02%;
  right: 62.24%;
  top: 9.52%;
  bottom: 86.64%;
  width: 30.73%;
  color: white;
}

.portfolio .completed_projects--headline {
  position: absolute;
  width: 57.23%;
  height: 16.92%;
  font-family: Yeseva One;
  font-style: normal;
  font-weight: normal;
  font-size: 1.6875em;
  line-height: 37px;
  letter-spacing: -0.07em;
  text-transform: uppercase;
  color: #E3B873;
}

.portfolio .completed_projects--description {
  position: absolute;
  top: 25.64%;
  bottom: 88.65%;
  width: 100%;
  height: 22.05%;
  font-family: FuturaBookC;
  font-size: 1.125em;
  line-height: 29px;
  color: #FFFFFF;
}

.portfolio .completed_projects h3 {
  height: 100%;
  font-family: Yeseva One;
  font-style: normal;
  font-weight: normal;
  font-size: 1.125em;
  line-height: 25px;
  text-transform: uppercase;
  color: #E3B873;
}

.portfolio .completed_projects span {
  font-family: FuturaBookC;
  font-size: 0.9375em;
  line-height: 20px;
  color: #FFFFFF;
}

.portfolio .completed_projects--city {
  position: absolute;
  top: 58.46%;
  width: 14.93%;
  height: 5.64%;
}

.portfolio .completed_projects--city span {
  position: absolute;
  width: 243.93%;
  height: 190.90%;
  top: 140.9%;
}

.portfolio .completed_projects--apartment_area {
  position: absolute;
  top: 58.46%;
  left: 42.98%;
  width: 48.19%;
  height: 5.64%;
}

.portfolio .completed_projects--apartment_area span {
  position: absolute;
  width: 23.94%;
  height: 95.45%;
  top: 140.9%;
}

.portfolio .completed_projects--repair_time {
  position: absolute;
  width: 35.29%;
  height: 5.64%;
  bottom: 8.46%;
}

.portfolio .completed_projects--repair_time span {
  position: absolute;
  width: 66.02%;
  height: 109.99%;
  top: 178.32%;
}

.portfolio .completed_projects--repair_cost {
  position: absolute;
  width: 49.32%;
  height: 5.64%;
  bottom: 8.46%;
  left: 42.98%;
}

.portfolio .completed_projects--repair_cost span {
  position: absolute;
  width: 52.75%;
  height: 5.64%;
  top: 178.32%;
}

.portfolio--slider {
  position: absolute;
  left: 41.24%;
  right: 0.14%;
  top: 9.52%;
  width: 58.62%;
  height: 4.75%;
  overflow: hidden;
}

.portfolio--slider-center {
  position: absolute;
  width: 80.54%;
  height: 100%;
}

.portfolio--slider-right {
  position: absolute;
  left: 83.13%;
  height: 100%;
}

.portfolio--slider-right .slider_right_button {
  position: absolute;
  top: 43.62%;
  left: 43.62%;
  width: 37.31%;
  height: 11.18%;
  -o-object-fit: contain;
     object-fit: contain;
}

.portfolio--change_project {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: absolute;
  left: 7.09%;
  right: 78.6%;
  top: 14.15%;
  bottom: 85.72%;
  width: 14.30%;
  height: 0.13%;
}

.portfolio--change_project > div:not(.portfolio--change_project-center) {
  width: 20.15%;
  height: 100%;
  background-image: url(/assets/images/arrow-change-project.svg);
}

.portfolio--change_project-left {
  -webkit-transform: rotate(-180deg);
          transform: rotate(-180deg);
}

.portfolio--change_project-center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 31%;
}

.portfolio--change_project-center div {
  width: 15.24%;
  height: 72.06%;
  background-image: url(/assets/images/circle-change-project.svg);
}

.portfolio--change_project-center div:hover {
  background: #FFFFFF;
  border-radius: 1.875em;
}

.portfolio--online-control {
  position: absolute;
  top: 15.25%;
  left: 43.32%;
  width: 13.63%;
  height: 0.65%;
  background-image: url(/assets/images/online-control.svg);
  background-position: bottom center;
  background-repeat: no-repeat;
}

.portfolio--online-control span {
  position: absolute;
  width: 100%;
  font-family: Yeseva One;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 28px;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
}

.portfolio--video {
  position: absolute;
  left: 21.63%;
  right: 21.56%;
  top: 16.44%;
  width: 56.81%;
  height: 4.27%;
}

.online-control {
  width: 100%;
  height: 7.09%;
}

.online-control--description {
  position: absolute;
  left: 26.36%;
  right: 26.29%;
  top: 21.38%;
  bottom: 77.33%;
  width: 47.35%;
  height: 1.29%;
}

.online-control--description p {
  height: 100%;
  font-family: FuturaBookC;
  font-size: 20px;
  line-height: 34px;
  text-align: center;
  color: #363636;
}

.online-control--form {
  position: absolute;
  left: 23.3%;
  right: 23.23%;
  top: 23.58%;
  bottom: 75.92%;
  width: 53.47%;
  height: 0.50%;
}

.online-control--form form {
  height: 100%;
}

.online-control--form form [type=text] {
  position: absolute;
  bottom: 0%;
  width: 30.04%;
  height: 57.7%;
  background: none;
  border: none;
  border-bottom: 1px solid black;
  /*for tests 
                background: green;
 */
}

.online-control--form form [type=submit] {
  position: absolute;
  right: 0%;
  background: #E3B873;
  -webkit-box-shadow: 0px 15px 15px rgba(227, 184, 115, 0.15);
          box-shadow: 0px 15px 15px rgba(227, 184, 115, 0.15);
  border-radius: 2px;
  width: 26%;
  height: 100%;
  font-family: FuturaDemiC;
  font-size: 15px;
  line-height: 26px;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  border: none;
}

.online-control--form form .username-input {
  left: 0%;
}

.online-control--form form .phone-input {
  right: 32.37%;
}

.online-control--form form label {
  position: absolute;
  height: 26.6%;
  font-family: FuturaBookC;
  font-size: 15px;
  line-height: 20px;
  color: rgba(54, 54, 54, 0.5);
}

.online-control--form form label:first-child {
  left: 0%;
}

.online-control--form form label:not(:first-child):not(:last-child) {
  right: 58%;
}

.online-control--form form label:last-child {
  bottom: -88%;
  left: 35%;
  font-family: FuturaBookC;
  font-size: 1em;
  line-height: 22px;
  color: #181818;
}

.online-control--form form [type=checkbox] {
  position: absolute;
  bottom: -92%;
  left: 31%;
}

.types-of-repair {
  width: 100%;
  height: 8.39%;
}

.types-of-repair--logo {
  position: absolute;
  width: 17.87%;
  height: 0.66%;
  left: 40.96%;
  right: 41.17%;
  top: 26.04%;
  bottom: 73.7%;
  background-image: url(/assets/images/types-of-repair-logo.svg);
  background-repeat: no-repeat;
  background-position: bottom 20% center;
}

.types-of-repair--logo h2 {
  font-family: Yeseva One;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 28px;
  text-align: center;
  text-transform: uppercase;
  color: #181818;
}

.types-of-repair--columns {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 85.95%;
  height: 72%;
  top: 11.9%;
  left: 7%;
}

.types-of-repair--column {
  position: relative;
  width: 31.71%;
  height: 69.47%;
  background: green;
}

.types-of-repair--children {
  position: absolute;
  width: 84.18%;
  height: 67.9%;
  top: 69.8%;
  left: 7.90%;
  background: #FFFFFF;
  -webkit-box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.03);
          box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.03);
}

.types-of-repair--children h3 {
  position: absolute;
  width: 69.09%;
  height: 7.34%;
  top: 8.74%;
  left: 11.61%;
  font-family: Yeseva One;
  font-style: normal;
  font-weight: normal;
  font-size: 1.125em;
  line-height: 25px;
  color: #363636;
}

.types-of-repair--children ul {
  position: absolute;
  left: 11.61%;
  right: 69.82%;
  top: 20.62%;
  bottom: 67.76%;
  width: 80.9%;
  height: 62.23%;
  font-family: FuturaBookC;
  font-size: 0.9375em;
  line-height: 25px;
  color: #959595;
}

.types-of-repair--children .price_label {
  position: absolute;
  width: 69.09%;
  height: 18.88%;
  top: 90.09%;
  background: #E3B873;
  -webkit-box-shadow: 5px 5px 10px rgba(227, 184, 115, 0.3);
          box-shadow: 5px 5px 10px rgba(227, 184, 115, 0.3);
}

.types-of-repair--children .price_label span {
  position: absolute;
  left: 10.81%;
  right: 76.32%;
  top: 32.63%;
  bottom: 67.17%;
  width: 85.08%;
  height: 37.03%;
  font-family: Yeseva One;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 25px;
  text-transform: uppercase;
  color: #FFFFFF;
}

.consultation_order {
  width: 100%;
  height: 968px;
}

.consultation_order--steps-of-order {
  width: 773px;
  height: 691.26px;
}

.consultation_order--form-container {
  width: 506px;
  height: 640px;
}

/*div {
    background-color: aqua;
    border: 1px solid red;
}

section {
    background-color: green;
    border: 1px solid yellow;
}*/
/*# sourceMappingURL=style.css.map */